body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: gcb;
}

p {
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}
html {
  font-size: 62.5%;
}
@media screen and (max-width: 1599px) and (min-width: 1366px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 1365px) and (min-width: 1024px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 471px) and (min-width: 320px) {
  html {
    font-size: 42.5%;
  }
}
@font-face {
  font-family: poppins-500;
  src: url('./assets//fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: poppins;
  src: url('./assets//fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: poppins-bold;
  src: url('./assets//fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: babas-neue;
  src: url('./assets//fonts/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: square-sans-serif-7;
  src: url('./assets//fonts/square_sans_serif_7.ttf');
}


@font-face {
  font-family: gcb;
  src: url('./assets//fonts/GCB/GCB.ttf');
}